# Ansible
*.retry
.vault_pass

# Vagrant
tests/vagrant/.vagrant/

# Packer build artifacts
environments/boxes/*/output/
environments/boxes/*/*.box
environments/boxes/*/cache/
environments/boxes/*/build/

# Deploy controller
deploy/.env

# Python
__pycache__/
*.pyc
.venv/

# direnv
.envrc

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# VM Build Cache
environments/.cache/

# Packer / Vagrant Cache
packer_cache/
*.box
.vagrant/

# Temporary Screenshots
screen*.png
screenshot*.png
environments/settings.yml
