[defaults]
inventory          = provisioning/inventory/hosts.yml
roles_path         = provisioning/roles
collections_path   = ~/.ansible/collections
stdout_callback    = ansible.builtin.default
result_format      = yaml
interpreter_python = auto_silent

[connection]
pipelining = true
